@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .header {
        &__official {
            margin-right: 0;
        }
    }
}
    
@media (max-width: 768px) {
    .container {
        max-width: none;
    }
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
}
    
@media (max-width: 576px) {
    .header {
        &__phone {
            font-size: 1rem;
        }
    }
    .promo {
        background-position: 19%;
        &__header {
            font-size: 2rem;
        }
        &__icons {
            width: 18.125rem;
        }
        &__icon {
            width: 7.625rem;
            font-size: 0.775rem
        }
    }
    
}
